.logo_unad{
    margin-right: 400px;
}
.img_css3{
    height: 80px;
    width: 105px;
    margin-left: 600px;
}
h3{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
}
.img_css3_dos{
    height: 80px;
    width: 105px;
    margin-left: 480px;
}
.logo_unad_dos{
    margin-right: 280px;
}
.txt_inicio{
    text-align: justify;
    font-size: 120%;
    width: 95%;
    padding:10px;
}